@import "../styles/colors.scss";
@import "../styles/typography.scss";

body:has(.modal-overlay) {
    overflow: hidden;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: flex-end;
    justify-content: stretch;
    z-index: 1000;

    @media (min-width: 768px) {
        align-items: flex-start;
        padding-top: 32px;
        justify-content: center;
    }
}

.modal-container {
    background-color: $white;
    border-radius: 8px 8px 0 0;
    box-shadow: 0px 5px 15px 0px rgba(33, 33, 36, 0.1);
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 90vh;
    max-width: 100%;
    border: 1px solid $tertiary-border;
    padding-inline: 24px;
    padding-bottom: 24px;
    padding-top: 24px;

    &:has(.modal-header) {
        padding-top: 28px;
    }

    @media (min-width: 768px) {
        border-radius: 16px;
        max-width: 600px;
        min-width: 550px;
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
        width: 32px;
        height: 32px;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }

    &__title {
        @include body-xl;
        margin: 0;
    }
}

.modal-body {
    overflow-y: auto;
    flex: 1;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    button {
        flex: 1;
        @media (min-width: 768px) {
            min-width: 104px;
            flex: none;
        }
    }
}
