$brand: #7849ff;
$brand-hover: #5f33e5;
$danger: #d80e25;
$danger-hover: #c50c22;
$white: #ffffff;
$tertiary-border: #8b919b;
$tertiary-hover-border: #8b95a8;
$tertiary-hover-background: #f1f5f8;
$text-primary: #18191b;
$text-inactive: #999999;
