@import "../styles/colors.scss";
@import "../styles/typography.scss";

.card-container {
    background-color: $white;
    border: 1px solid $card-border;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    &--small {
        padding: 12px 16px;
    }
    &--medium {
        padding: 24px;
    }
    &--large {
        padding: 32px;
    }

    &--info {
        background-color: $info-secondary;
        border: none;
    }

    &--clickable {
        cursor: pointer;
        &:hover {
            border-color: $tertiary-hover-border;
            background-color: $tertiary-hover-background;
        }
    }

    &:has(.card-header--with-icon) {
        .card-body {
            padding-left: 40px;
        }
    }
}

.card-header {
    display: flex;
    gap: 16px;
    align-items: center;

    .card-header__icon {
        width: 24px;
        height: 24px;
    }

    .card-header__title {
        @include body-m;
        margin: 0;
    }
}
